BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
TabWidth: 8

BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

ColumnLimit: 80

ContinuationIndentWidth: 8
PointerAlignment: Right

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

SortIncludes: false
ReflowComments: false
